body {
  background-color: whitesmoke;
}

.array-container {
    display: flex;
    justify-content: center;
    

   
    /* top: 100px; */
  }
  
  .array-bar {
    /* min-width: 5px; */
    width: 5px;
    display: inline-block;
    margin: 1px;
    border-color: black;
    border: 1px;
  }
  
  #changeSize {
    outline: none;
    margin-right: 15px;
  }

  .buttons{
    display: flex;
    background-color:grey;
    padding: 20px;
  }
    
  input {
    left: 5px;
    margin-left: 20px;
  }

  button {
    background-color:teal;
    color: white;
    padding: 8px;
    margin: 5px;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
  }

  button:hover {
    color:black;
  }

  .reset {
    background-color:brown;
    margin-left: 20px;
  }

  .line {
    width: 2px;
    height: 55px;
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
  }
